.div__vertical__tab {
    background-color: inherit;
    cursor: pointer;
}

.div__vertical__tab.dropdown {
    height: 31px;
    width: 246px;
    color: white;
}

    .div__vertical__tab.dropdown .start-symbol {
        fill: white;
    }

.div__vertical__tab.dropdown:hover {
    background-color: #769475;
}

.div__vertical__tab.active {
    background-color: #E1EEFA;
}

.div__vertical__tab .header {
    width: 30px;
}

.div__vertical__tab .content {
    flex: 1;
    /*line-height: 38px;*/
    /*vertical-align: middle;*/
    height: 100%;
}

.div__vertical__tab .extra-content {
    font-size: 10px;
    color: #262626;
}

.div__vertical__tab .footer {
    width: 35px;
}

.div__vertical__tab .footer-content {
    font-size: 12px;
    font-weight: 500;
    color: #bdbcbb;
}

.div__vertical__tab .end-symbol:hover {
    font-weight: bold;
}