.div__vertical__tab {
    background-color: inherit;
    cursor: pointer;
}

.div__vertical__tab.active {
    background-color: #E1EEFA;
}

.div__vertical__tab .header {
    width: 30px;
}

.div__vertical__tab .main-content {
    flex: 1;
    line-height: 38px;
    vertical-align: middle;
}

.div__vertical__tab .footer {
    width: 35px;
}

.div__vertical__tab .footer-content {
    font-size: 12px;
    font-weight: 500;
    color: #bdbcbb;
}

.div__vertical__tab .end-symbol:hover {
    font-weight: bold;
    fill: red;
}