.div__collapsed__sidebar {
    width: 42px;
    /*overflow: auto;*/
}

.div__collapsed__sidebar .list-toggle {
    min-height: 45px;
    height: 45px;
    background-color: #5B795A;
}

.div__collapsed__sidebar .tab-list {
    background-color: #F7F7F7;
    flex: 1;
}

    .div__collapsed__sidebar .tab-list div {
        height: 38px;
    }

.div__collapsed__sidebar .create-list {
    background-color: #F7F7F7;
    height: 42px;
    border-top: 1px solid #e0e0df;
}