@import "../../../constants.mod";

.collapsedSidebar {
  width: $collpased-side-bar-width+px;
  height: 100vh;
}

.listToggle {
  min-height: $header-height+px;
  height: $header-height+px;
  background-color: #5B795A;
  cursor: pointer;
}

.tabList {
  background-color: $white-background;
  flex: 1;
}

.tabList div {
  height: 38px;
}

.createList {
  background-color: $white-background;
  height: $tab-height+px;
  border-top: 1px solid $border-color;
}

.icon {
  fill: $side-bar-primary;
  cursor: pointer;
}
