.div__note {
    background-color: white;
    border-radius: 3px;
}

.div__note.active {
    background-color: #E2F2FD;
}

.start__symbol {
    width: 10%;
}

.note__content {
    line-height: 46px;
    vertical-align: middle;
    width: 80%;
}

.end__symbol {
    width: 10%;
}