.icon {
  background-color: inherit;
  cursor: pointer;

}

.icon:hover {
  background-color: #769475;
}

.logo {
  fill: white;
  margin-top: 10px;
}

.iconText {
  font-size: 10px;
  color: white;
  font-weight: 500;
}
