.multiTabView {
    margin-left: 300px;
    margin-top: 70px;
    height: 100%;
}

.collapsed {
    margin-left: 62px;
}

.headerLogo {
    margin-left: 10px;
}

.footerLogo {
    margin-right: 10px;
}

.todo {
    margin-top: 2px;
    background-color: #F7F7F7;
    border-radius: 5px;
    height: 46px;
}

.input {
    font-size: 16px;
}
