.header {
    left: 280px;
    z-index: 50;
}

.collapsed {
    left: 42px;
}

.collapsed .dropdownIcons{
    margin-right: 42px;
}

.dropdownIcons {
    margin-right: 280px;
}

.headerContent {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
}

.dropdown {
    width: 246px;
    position: fixed;
    right: 0;
    top: 44px;
    background-color: #678865
}
