@import "../../../constants.mod";
.header {
    left: $side-bar-width+px;
    z-index: 1;
}

.collapsed {
    left: $collpased-side-bar-width+px;
}

.collapsed .dropdownIcons{
    margin-right: $collpased-side-bar-width+px;
}

.dropdownIcons {
    margin-right: $side-bar-width+px;
}

.headerContent {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
}

.dropdown {
    width: 246px;
    position: fixed;
    right: 0;
    top: 44px;
    background-color: #678865;
    z-index: 50;
}
