@import "../../../constants.mod";

.todoView {
  margin-left: ($side-bar-width + 20px);
  margin-top: ($header-height+25)+px;
  height: 100%;
}

.collapsed {
  margin-left: ($collpased-side-bar-width + 20px);
}

.headerLogo {
  margin-left: 10px;
}

.footerLogo {
  margin-right: 10px;
  fill: rgba(0, 0, 0, 0.3);
}

.todo {
  margin-top: 2px;
  background-color: #F7F7F7;
  border-radius: 5px;
  height: $todo-height+px;
}

.completedTodo {
  @extend .todo;
  opacity: 0.6;
}

.input {
  font-size: 16px;
}
