.input {
    background-color: inherit;
    border: none;
    font-size: 16px;
    flex: 12;
    border-radius: 5px;
    color: inherit;
}

.input::placeholder {
    color: #FFFFFF;
    opacity: 0.6;
}
