.button {
    background: rgba(102,137,100,0.75);
    border-radius: 5px;
    border: none;
    color: white;
    padding: 3px 10px;
    font-weight: 400;
    font-size: 11px;
    width: fit-content;
    max-width: 100%;
    cursor: pointer;
    height: 22px;
}
