@import "../../../constants";

.sideBar {
  width: $side-bar-width+px;
}

.searchBar {
  height: 45px;
  min-height: 45px;
  background-color: #5B795A
}

.verticalTabContainer {
  background-color: $white-background;
  width: $side-bar-width+px;
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1
}

.footer {
  height: 42px;
  min-height: 42px;
  background-color: $white-background;
  border-top: 1px solid $border-color;
  color: $side-bar-primary;
  font-weight: 500;
  fill: $side-bar-primary;
}

.footerLogo {
  fill: $side-bar-primary;
  width: 30px;
}
