.verticalTab {
    background-color: inherit;
    cursor: pointer;
}

.header {
    width: 30px;
}

.content {
    flex: 1;
    height: 100%;
    width: 70%;
}

.extraContent {
    font-size: 10px;
    color: #262626;
}

.footer {
    width: 40px;
}

.footerContent {
    font-size: 12px;
    font-weight: 500;
    color: #bdbcbb;
    width: 28px;
}

.endIcon:hover {
    font-weight: bold;
}
