$side-bar-width: 280;
$header-height: 45;
$collpased-side-bar-width: 42;
$todo-height: 46;
$tab-height: 42;

//Colors
$border-color: #e0e0df;
$side-bar-primary: #328ad6;
$white-background: #F7F7F7;
$icon-primary-color: #262626;
